<div class="row">

    <div class="col-md-4 col-xs-4" *ngFor="let i of Arr(num).fill(1)">
      <div class="card-hover-shadow-2x mb-3 card">
        <div class="card-body">

          <div class="row">
            <div class="col-md-5 col-xs-3">
              <qrcode [qrdata]="'\''+jobcardGenerationApiService.orderNumber+'\''" [size]="120" [level]="'M'">
              </qrcode>
              <!-- <ngx-qrcode id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value] = "'\''+jobcardGenerationApiService.orderNumber+'\''">    
                </ngx-qrcode> -->
            </div>
            <div class="col-md-7 col-xs-7">
              <table>
                <tr>
                  <th>Order Number : </th>
                  <td>{{jobcardGenerationApiService.OrderDetailsArray[0].order_number}}</td>
                </tr>
                <tr>
                  <th>Part Number : </th>
                  <td>{{jobcardGenerationApiService.OrderDetailsArray[0].part_number}}</td>
                </tr>
                <tr>
                  <th>Customer : </th>
                  <td>{{jobcardGenerationApiService.OrderDetailsArray[0].customer_name}}</td>
                </tr>
                <tr>
                  <th>Issued Quantity : </th>
                  <td>{{jobcardGenerationApiService.OrderDetailsArray[0].issued_qty}}</td>
                </tr>
                <tr>
                  <th>Per Day Prod Qty : </th>
                  <td>{{jobcardGenerationApiService.OrderDetailsArray[0].per_day_qty}}</td>
                </tr>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>

    
  </div>

  